<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
    <a href="../index.html">Back</a>
    <h2>This is settings page</h2>
    <button id="send-data-actbtn">Send Data Main</button>

    Current value: <strong id="counter">0</strong>
    
    <script src="../controllers/help.js"></script>
  </body>
</body>
</html>